# .gitignore

# Dependencies
/node_modules
/renderer/node_modules

# Build output
/dist
/build
/renderer/dist

# PyInstaller files
*.spec
downloader.exe  # File bạn tự biên dịch

# Electron-builder output
/release

# Environment variables
.env